/*paleta de cores do projeto*/
:root {
    --cor-fundo: #F9F7F2;
    --cor-h1: #CAAB65;
    --cor-h2: var(--cor-h1);
    --cor-textos: #373216;
    --cor-botoes: #BA9E68;
}

/*reset basico da pagina*/
* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}
/*fim do reset da pagina*/

body {
    background-color: var(--cor-fundo);
}

/*adicionando a imagem de fundo na secao noiva*/
body::before {
    content: "";
    position:absolute;
    inset: 0;

    background-image: url(../img/textura-noiva.png);
    background-repeat: repeat;
    background-size: cover;
    background-position: top left;

    opacity: 1;
    pointer-events: none;
    z-index: -1;
}

/*container com todo conteudo da pagina*/
.container {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin: 0 auto;
    padding: 24px 24px;
}

/*banner*/
.banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0.25rem;
    gap: 0.1rem;

    border: solid 1px blue;
}

/*imagem da logo do banner*/
.image-banner {
    width: 100px;
    object-fit: contain;

    border: solid 1px yellow;
}

/*texto do banner da pagina*/
.text-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;

    border: solid 1px red;
}

.titulo {
    color: var(--cor-h1);
    letter-spacing: 0.1rem;
    text-shadow: 0.03rem 0.03rem 0.04rem black;
}

.titulo-h1 {
    font-family: 'Playfair Display';
    font-size: 2.5rem;
    font-weight: 700;
}

.titulo-h2 {
    font-family: 'Lato';
    font-weight: 400;
}

.section {
    display: flex;
    height: 100vh;

    border: solid 1px green;
}

